<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OtomasyonSuite" verbose="1">

    <test name="ChromeTest">
        <classes>

            <class name="org.example.AppTest">
                <methods>
                    <!-- Test Method Name Priority-->
                    <include name="test"/>

                </methods>
            </class>
        </classes>

    </test>

</suite>